.img-home-top {
  max-width: 60%;
  height: auto;
  display: block;
  filter: opacity(50%);
}

.bkg-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #cecbc4 0%, #e0ddd6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-home-top {
  font-size: 2.5rem;
  color: #2b9c4b;
  text-align: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}