@import 'variaveis';

.bkg-home {
    display: flex;           // Adicione esta linha
    justify-content: center; // Centraliza horizontalmente
    align-items: center;     // Centraliza verticalmente
    background: linear-gradient(135deg, $bege-claro2 0%, $bege-claro1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}